html,body {
  height: 100%;
  font-size: 1.3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.toggle {
  background:green;
  color:yellow;
  padding:20px;
}
/**
 * Navigation (Menu)
 */
 .menu-container {
   background:  #83DAE1;  /* Blue */
   padding: 20px;
   /* display: flex; */
   /* justify-content: space-between; */
 }

.menu-toggle {
  /* border: 1px solid black; */
  width: 100%;
  text-align: right;
  /* padding:0px; */
}

/* .date {
  color:white;
  border: 1px solid black;
  width: 100%;
 } */
.menu {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  text-align: right;
  /* border: 1px solid purple; */
}

 .menu a {
   color:indigo;
   text-decoration: none;
   font-size:1.2rem;
   line-height: 2rem;
   margin:0;
   padding:0.5rem;

   /* border: 1px solid red; */
   /* padding:0.3rem; */
 }
 .menu a:hover {
   background-color: purple;
   color: white;
   /* border-top:1px solid white;
   border-bottom:1px solid white; */
 }

/**
 * Callouts
 */
 .callouts {
   background-color: black;
   color:white;
   border: 1px solid white;
 }
 .callout {
   padding:10px;

 }
 .callout-title {
   color:orange;
 }
 .callout-content {
   color:green;
 }
/**
 * Icons
 */
.icons-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid purple; */
  padding:20px;
  font-size: 1rem;
}
.icon {
  text-align: center;
}
.icon a {
  color:grey;
  text-decoration: none;
}
.icon a:hover {
  color: black;

}
/**
 * So Maybe More
 */
.maybe-more-container {
  padding:20px;
}
.maybe-more-title {
  margin-bottom: 10px;
}
.maybe-more-content {
  /* text-align: justify; */
}
/**
 * Download Now Button
 */
.download-now-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
button.download-now-button {
  font-size:2rem;
  background-color: green;
  border-radius: 1rem;
  padding:20px;
  color:white;
}
button.download-now-button:hover {
  color:black;
  background-color: white;
  border:3px solid grey;

}
/**
 * Maps
 */
section#map {
  display: flex;
  border-top:6px double black;
  border-bottom:6px double black;
  padding:10px;
  justify-content: center;
  height: 20rem;
}
