@import "nav.css";
@import "callouts.css";
html,body {
  height: 100%;
  font-size: 1.3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.toggle {
  background:green;
  color:yellow;
  padding:20px;
}
/**
 * Navigation (Menu)
 */
.menu-toggle {
  display: flex;
  justify-content: flex-end;
  font-size:3rem;

}
 .menu-container {
   background:  #5995DA;  /* Blue */
   padding: 20px;
   display: flex;
   justify-content: space-between;
 }

 .menu {

 }

 .menu a {
   color:white;
   text-decoration: none;
   font-size:1.2rem;
   line-height: 2rem;
 }
 .menu a:hover {
   background-color: black;
   color: white;
 }

/**
 * Callouts
 */
 .callouts {
   background-color: black;
   color:white;
   border: 1px solid white;
 }
 .callout {
   padding:10px;

 }
 .callout-title {
   color:orange;
 }
 .callout-content {
   color:green;
 }
/**
 * Icons
 */
.icons-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid purple; */
  padding:20px;
  font-size: 1rem;
}
.icon {
  text-align: center;
}
.icon a {
  color:grey;
  text-decoration: none;
}
.icon a:hover {
  color: black;

}
/**
 * So Maybe More
 */
.maybe-more-container {
  padding:20px;
}
.maybe-more-title {
  margin-bottom: 10px;
}
.maybe-more-content {
  /* text-align: justify; */
}
/**
 * Download Now Button
 */
.download-now-container {
  display: flex;
  justify-content: center;
}
button.download-now-button {
  font-size:2rem;
  background-color: green;
  border-radius: 1rem;
  padding:20px;
  color:white;
}
/**
 * Maps
 */
section#map {
  display: flex;
  border-top:6px double black;
  border-bottom:6px double black;
  padding:10px;
  justify-content: center;
  height: 20rem;
}
